[flake8]
max-line-length = 88
extend-ignore = E203
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,mlruns
per-file-ignores =
    # Ignorar importaciones no usadas en los __init__.py
    __init__.py:F401